<a href="https://colab.research.google.com/github/carlosOtalora16/Prediccion-de-valor-en-el-mercado-para-futbolistas/blob/main/Procesamiento_y_verificaci%C3%B3n_de_requisitos_Proyecto_I_A.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# LLamado de librerias y se añade la URL del dataset en formato csv el cual esta alojado en el repositorio github.

Esta celda debe ser ejecutada con prioridad para poder importar las librerias y hacer el llamdado del dataset en formato csv desde un link del repositorio de github del proyecto, ya que es primordial que las librerias esten importadas y el dataset descargado para no tener problemas al ejecutar las demás celdas.

#NOTA
El usuario no tendrá necesidad de buscar y descargar en su equipo para luego importar al notebook de colab ya que con esta primera celda la descarga del dataset del proyecto se hace directamente desde el repositorio de github del proyecto sin que el usuario tenga que hacer un paso adicional más que ejecutar esta primera celda.

In [21]:
import pandas as pd
import numpy as np
url = 'https://raw.githubusercontent.com/carlosOtalora16/Prediccion-de-valor-en-el-mercado-para-futbolistas/main/2021.csv'
'--------------------------------------------------------------------------------------------------------------'
#Importa archivo 2021.csv con su URL de github 
Datos_jugadores_fifa21_completo = pd.read_csv(url)
Datos_jugadores_fifa21

,Name,Natinality,Overal,Potential,Height,PreferredFoot,Age,PreferredPositions,PlayerWorkRate,WeakFoot,...,Finishing,LongShots,Curve,Penalties,Volleys,GKPositioning,GKDiving,GKHandling,GKKicking,GKReflexes
0,Lionel Messi,Argentina,93,93,170,L,33,RW/ST/CF,Medium/Low,4,...,95,94,93,75,88,14,6,11,15,8
1,Samir Handanovič,Slovenia,88,88,193,R,36,GK,Medium/Medium,3,...,10,19,12,23,12,89,88,85,73,89
2,Toni Kroos,Germany,88,88,183,R,30,CM,Medium/Medium,5,...,76,86,86,73,82,7,10,11,13,10
3,Raheem Sterling,England,88,90,170,R,25,LW/RW,High/Medium,4,...,84,79,77,69,67,15,15,12,12,9
4,Eden Hazard,Belgium,88,88,175,R,29,LW,High/Medium,4,...,82,78,83,87,83,8,11,12,6,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,Christian Clemens,Germany,70,70,179,R,29,RM/LM,Medium/Medium,3,...,67,69,75,55,63,15,16,6,12,6
4996,Scott Malone,England,70,70,189,L,29,LWB/LB,High/Medium,3,...,57,65,40,64,54,9,12,9,11,7
4997,Filip Kurto,Poland,70,70,191,R,29,GK,Medium/Medium,2,...,13,13,11,15,12,67,71,65,61,73
4998,Maxime Le Marchand,France,70,70,185,L,31,CB/LB,Medium/Medium,3,...,32,33,42,42,38,7,13,13,15,15
4999,Diego Novaretti,Argentina,70,70,193,L,35,CB,Medium/Medium,3,...,35,36,46,30,15,12,6,11,7,11

# Eliminación de datos del dataset.
Para hacer más sencillo el tratamiento y procesado de los datos se hace la eliminación de filas, dejando 5000 que es el mínimo para cumplir con las exigencias del proyecto, además, se eliminan columnas que no aportaran significativamente en el modelo de predicción del proyecto.

In [ ]:
Datos_jugadores_fifa21 = Datos_jugadores_fifa21_completo.set_index('Name').drop(range(5000,19117),axis=0).drop(['Specialities'
,'Traits','Club_JoinedClub','FKAcc','Aggression','StandTackle','SlideTackle','Club_ContractLength'
,'BirthDate','Wage','Nation_KitNumber','Club_KitNumber','Marking','Reactions','AttPosition','Weight','ID'],axis=1) 

Datos_jugadores_fifa21

# Arreglo de nombres de columna en el dataset.
Se crea un nuevo dataset llamado Datos_jugadores_FIFA21, esto se hace ya que al aplicar rename al dataset, el cambio de nombre de la columna solo se veria reflejado en esta celda, como si se creara una copia del dataset obtendio en la celda de arriba, pero lo que en realidad se necesita es un dataset que conserve el cambio de nombre en la columna ya que este nombre esta mal escrito y además se usará en celdas de más abajo.

#ES IMPORTANTE EJECUTAR ESTA CELDA ANTES DE EJECUATAR LAS PROXIMAS, ESTO CON EL FIN DE QUE SE GUARDE EL NUEVO DATASET CON LA CORRECIÓN DEL NOMBRE DE LA COLUMNA.

In [ ]:
#Es necesario arreglar el nombre de la columna Natinality a Nationality
Datos_jugadores_FIFA21 = Datos_jugadores_fifa21.rename(columns={'Natinality':'Nationality'})
Datos_jugadores_FIFA21

In [ ]:
Tamaño_Datos = Datos_jugadores_FIFA21.shape #Arroja una tupla donde esta primero el numero de filas y luego las columnas
Numero_columnas_categoricas = int((Tamaño_Datos[1]*0.1)) #Se usa int para aproximar al numero entero mas cercano
#El dataset debe tener al menos 4 columnas de datos categoricos para cumplir la exigencia 

print(f'El dataset debe tener un minimo de {Numero_columnas_categoricas} columnas categoricas para cumplir con el requisito del proyecto.')
Columnas_categoricas = 0

for i in Datos_jugadores_FIFA21.columns:
  
  if Datos_jugadores_FIFA21[i].dtype =='object':
    Columnas_categoricas += 1

#Hay 9 columnas categoricas, se cumple con la exigencia 
Nombre_columnas_categoricas = [j for j in Datos_jugadores_FIFA21.columns if Datos_jugadores_FIFA21[j].dtype==object]
#List comprehension para saber que columnas son categóricas
print(f'El numero de columnas categoricas es de {Columnas_categoricas} y los nombres de estas columnas categoricas son {Nombre_columnas_categoricas}.')

El dataset debe tener un minimo de 4 columnas categoricas para cumplir con el requisito del proyecto.
El numero de columnas categoricas es de 9 y los nombres de estas columnas categoricas son ['Name', 'Nationality', 'PreferredFoot', 'PreferredPositions', 'PlayerWorkRate', 'Nation', 'Nation_Position', 'Club', 'Club_Position'].

In [ ]:
#Bucle for que asigna a cada columna su respectivo valor de datos nulos presnetes en ella misma
diccionario_valores_eliminar = {}
for k in Datos_jugadores_FIFA21.columns:
  
  if Datos_jugadores_FIFA21[k].isnull().sum() !=0:
    print(f'La columna numero {(Datos_jugadores_FIFA21.columns.tolist().index(k))+1} y de nombre {k} tiene',
    f'{Datos_jugadores_FIFA21[k].isnull().sum()} datos nulos y un {round((Datos_jugadores_FIFA21[k].isnull().sum()/Tamaño_Datos[0])*100,2)} % de datos nulos respecto al total.')
    
    if (Datos_jugadores_FIFA21[k].isnull().sum()/Tamaño_Datos[0])*100 <5 :
      print(f'La columna numero {(Datos_jugadores_FIFA21.columns.tolist().index(k))+1} y de nombre {k} no cumple con el 5% minimo de datos nulos, entonces, ')
      print(f'le hace falta un {round(5-(Datos_jugadores_FIFA21[k].isnull().sum()/Tamaño_Datos[0])*100,2)} % de datos para alcanzar el minimo, lo cual quiere decir que')
      print(f'habrá que eliminar {int((5-(Datos_jugadores_FIFA21[k].isnull().sum()/Tamaño_Datos[0])*100)*Tamaño_Datos[0]/100)} datos del dataset para alcanzar el 5% de datos nulos')
      print() #Print vacio para dejar un espacio vacio entre los renglones de descripicion de diferentes columnas impresos en pantalla
      diccionario_valores_eliminar[k]= int((5-(Datos_jugadores_FIFA21[k].isnull().sum()/Tamaño_Datos[0])*100)*Tamaño_Datos[0]/100)
      #Diccionario para poder almacenar los valores que le hacen falta a una columna para alcanzar el requiaisto minimo
      lista_azar = [0]*(diccionario_valores_eliminar[k]+Datos_jugadores_FIFA21[k].isnull().sum()) 
      #Lista llena de ceros con longitud igual a datos faltantes de la columna
      import random
      for llenado in range(len(lista_azar)):
        lista_azar[llenado]= random.randint(0,5000)
      for x in lista_azar:
          if Datos_jugadores_FIFA21[str(k)][x]!= np.nan:
            Datos_jugadores_FIFA21[str(k)][x]= np.nan
          if Datos_jugadores_FIFA21[str(k)][x]==np.nan:
             continue
          if Datos_jugadores_FIFA21[k].isnull().sum()>= 250:
             break
    else:
      print() #Print vacio para dejar un espacio vacio entre los renglones de descripicion de diferentes columnas impresos en pantalla